.service {
  height: 835px;
  position: relative;
  margin-bottom: 59px;
  &__img-absolute {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
  }
  &__smile-absolute {
    position: absolute;
    right: 135px;
    bottom: 101px;
  }
  &__container {
    padding-top: 120px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
  }
  &__text {
    margin: 60px 0 60px;
    max-width: 673px;
    font-size: 26px;
    line-height: 120%;
  }
  &__reserved {
    background-image: url('../../images/reserved.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 412px;
    height: 79px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 30px 0 24px 0;
  }
  &__reserved::before {
    content: url('../../images/reserved2.svg');
    margin-right: 15px;
  }
  &__icons {
    margin-top: 40px;
    display: flex;

    &-item {
      display: flex;
    }
    &-text {
      font-size: 20px;
      line-height: 140%;
      max-width: 304px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
    }
  }
  &__img {
    box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
    border-radius: 10px;
  }
}
@media screen and (max-width: 1919px) {
  .service {
    height: 817px;
    margin-bottom: 0;
    box-shadow: 0px 20px 10px -6px rgba(35, 25, 4, 0.15);
    &__container {
      padding-top: 80px;
      padding-left: 143px;
      width: 679px;
    }
    &__title {
      font-size: 70px;
    }
    &__text {
      font-size: 20px;
      line-height: 120%;
    }
    &__img {
      width: 70px;
      height: 70px;
    }
    &__icons-text {
      font-size: 18px;
      line-height: 22px;
      width: 242px;
    }
    &__smile-absolute {
      right: 40px;
      bottom: 197px;
    }
  }
  .img-1920 {
    display: none;
  }
}
