.service {
  height: 835px;
  position: relative;
  margin-bottom: 59px;
  &__img-absolute {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
  }
  &__smile-absolute {
    position: absolute;
    right: 135px;
    bottom: 101px;
  }
  &__container {
    padding-top: 120px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
  }
  &__text {
    margin: 60px 0 60px;
    max-width: 673px;
    font-size: 26px;
    line-height: 120%;
  }
  &__reserved {
    background-image: url('../../images/reserved.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 412px;
    height: 79px;
  }
  &__reserved-text {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 30px 0 24px 0;
  }
  &__reserved-text::before {
    content: url('../../images/reserved2.svg');
    margin-right: 15px;
  }
  &__icons {
    margin-top: 40px;
    display: flex;

    &-item {
      display: flex;
    }
    &-text {
      font-size: 20px;
      line-height: 140%;
      max-width: 304px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
    }
  }
  &__img {
    box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
    border-radius: 10px;
  }
}
.img-1366 {
  display: none;
}
.img-1024 {
  display: none;
}
.img-768 {
  display: none;
}
@media screen and (max-width: 1919px) {
  .service {
    height: 817px;
    margin-bottom: 0;
    box-shadow: 0px 20px 10px -6px rgba(35, 25, 4, 0.15);
    &__container {
      padding-top: 80px;
      padding-left: 143px;
      width: 679px;
    }
    &__title {
      font-size: 70px;
    }
    &__text {
      font-size: 20px;
    }
    &__img {
      width: 70px;
      height: 70px;
    }
    &__icons-text {
      font-size: 18px;
      line-height: 22px;
      width: 242px;
    }
    &__smile-absolute {
      right: 40px;
      bottom: 197px;
    }
  }
  .img-1920 {
    display: none;
  }
  .img-1366 {
    display: block;
  }
  .img-768 {
    display: none;
  }
}
@media screen and (max-width: 1365px) {
 .service {
   height: 621px;
   &__container {
    width: 547px;
    padding: 80px 0 0 87px;
   }
   &__title {
     font-size: 50px;
   }
   &__text {
    font-size: 16px;
    margin: 40px 0 40px;
   }
   &__reserved {
    width: 290px;
    height: 60px;
   }
   &__reserved-text {
     width: 290px;
    font-size: 14px;
    line-height: 120%;
    padding: 23px 0px 0px 0px;
    text-align: center;
   }
   &__reserved-text::before {
    content:url('../../images/diagnostika1024.svg')
   }
   &__icons {
     margin-top: 32px;
     &-text {
      font-size: 14px;
      width: 185px;
      margin-left: 14px;
     }
     &-item:last-of-type {
       margin-left: 30px;
     }
   }
   &__img {
     width: 50px;
     height: 50px;
   }
   &__smile-absolute {
    width: 298px;
    height: 61px;
    bottom: 120px;
  }
 }
 .img-1366 {
  display: none;
}
.img-1024 {
  display: block;
}
.img-768 {
  display: none;
}
}
@media screen and (max-width: 1023px) {
 .service {
   height: 775px;
   &__container {
   width: 350px;
   padding-left: 59px;
   }
   &__icons {
     flex-direction: column;
     margin: 0;
     &-item {
       margin: 32px 0 0 0;
      }
      &-item:last-of-type {
        margin-left: 0;
      }
      &-text {
        width: 221px;
      }
    }
    &__smile-absolute {
      right: 75px;
      bottom: 112px;
    }
 }
 .img-1024 {
   display: none;
 }
 .img-375 {
   display: none;
 }
 .img-768 {
   display: block;
 }
}
@media screen and (max-width: 767px) {
.service{
  box-shadow: none;
  height: 778px;
 &__container {
   width: 335px;
   padding: 60px 0 0 0;
   margin: 0 auto;
 }
 &__title {
  font-size: 26px;
  width: 220px;
 }
 &__text {
   width: 180px;
   margin: 32px 0 32px;
   font-size: 14px;
 }
 &__reserved {
   width: 320px;
   height: 65px;
   &-text {
     padding: 27px 0 18px 30px;
   }
 }
 &__icons {
  flex-direction: row;
  justify-content: space-between;
  &-item {
    flex-direction: column;
    margin-top: 24px;
  }
  &-text {
    width: 152px;
    text-align: center;
    margin-left: 0;
  }
  }
  &__img {
    align-self: center;
    margin-bottom: 21px;
  }
  &__smile-absolute {
    box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 61px;
  }
}
.img-768 {
  display: none;
}
.img-375 {
  display: block;
}
}
