.address{
  margin: 120px auto 120px;
  max-width: 1520px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: row-reverse;
  }
  &__img {
    margin-right: 30px;
    &-1 {
      margin-right: 32px;
    }
  }
  &__content-container {
    max-width: 745px;
  }
  &__title {
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
  }
  &__text {
    margin-top: 60px;
    font-size: 20px;
    line-height: 140%;
    &-2 {
      margin-top: 32px;
      font-size: 20px;
      line-height: 140%;
    }
  }
  &__button {
    width: 245px;
    height: 60px;
    margin-top: 40px;
    outline: none;
    background: transparent;
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 19px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    cursor: pointer;
    margin-bottom: 30px;
  }
  &__imgs {
    display: flex;
    margin-top: 30px;
  }
  &__mobile {
    display: none;
  }
}
@media screen and (max-width: 1919px) {
  .address {
    max-width: 1080px;
    &__content-container {
      max-width: 525px;
      height: 507px;
    }
    &__title {
      font-size: 50px;
    }
    &__text {
      font-size: 18px;
      &-2 {
        font-size: 18px;
      }
    }
    &__img{
      width: 525px;
      height: 537px;
      &-1 {
        width: 525px;
        height: 487px;
      }
      &-2 {
        width: 525px;
        height: 487px;
      }
    }
    &__button {
      width: 217px;
      height: 50px;
      font-size: 15px;
      padding: 15px 40px 16px;
    }
    &__mobile {
      display: none;
    }
  }
}
@media screen and (max-width: 1365px){
  .address {
    margin: 80px auto 80px;
    max-width: 850px;
    &__img {
      width: 265px;
      height: 191px;
      margin-right: 28px;
    }
    &__img-1{
      width: 265px;
      height: 191px;
      margin-right: 28px;
    }
    &__img-2{
      width: 265px;
      height: 191px;
    }
    &__container {
      display: none;
    }
    &__title {
      font-size: 40px;
    }
    &__text {
      margin-top: 40px;
      font-size: 14px;
    }
    &__text-2 {
      margin-top: 24px;
      font-size: 14px;
    }
    &__button {
      width: 188px;
      height: 50px;
      font-size: 14px;
      padding: 16px 30px 16px;
      margin-top: 28px;
    }
    &__mobiles-imgs {
      display: flex;
      flex-direction: row;
    }
    &__mobile {
      display: block;
    }
  }
}
@media screen and(max-width: 1023px) {
  .address {
    max-width: 650px;

&__img {
  width: 197px;
  height: 141px;
  margin-right: 30px;
}
&__img-1{
  width: 197px;
  height: 141px;
  margin-right: 30px;
}
&__img-2{
  width: 197px;
  height: 141px;
}
  }
}
@media screen and (max-width: 767px) {
  .address {
    max-width: 327px;
    margin: 60px auto 60px;
    &__title {
      font-size: 26px;
    }
    &__text {
      margin-top: 32px;
    }
    &__button {
      width: 100%
    }
    &__mobiles-imgs {
      flex-direction: column;
    }
    &__img {
      width: 327px;
      height: 234px;
      margin-right: 0;
    }
    &__img-1{
      width: 327px;
      height: 234px;
      margin-right: 0;
      margin-top: 24px;
    }
    &__img-2{
      width: 327px;
      height: 234px;
      margin-right: 0;
      margin-top: 24px;
    }
  }
}
