@import '../fonts/fonts';
@import '../components/Header/header';
@import '../components/Service/service';
@import '../components/Masters/masters';
@import '../components/Address/address';
@import '../components/Menu/menu';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page {
  min-width: 375px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

