.header{
  box-shadow: 0px 10px 10px -6px rgba(35, 25, 4, 0.15);
  &__container {
    max-width: 1520px;
    margin: 20px auto;
    height: 54px;
    display: flex;
    flex-direction: row;
  }
  &__links {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    margin-left: 40px;
  }
  &__link {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
  }
  &__link-star {
    display: flex;
  }
  &__star {
    margin-right: 10px;
    align-self: flex-start;
  }
  &__contacts {
    margin-left: auto;
  }
  &__worktime {
    font-size: 14px;
    line-height: 17px;
    text-align: end;
  }
  &__worktime::before {
    content: url('../../images/svg/greenDot.svg');
    margin-right: 3px;
  }
  &__phone {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }
  &__phone::before {
    content: url('../../images/svg/trubka.svg');
    margin-right: 5px;
  }
  &__navBar {
    width: 100%;
    &-container {
      padding: 10px 0 10px 0;
      height: 60px;
      max-width: 1520px;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
    &-text {
      font-size: 16px;
      line-height: 20px;
      margin-left: 10px;
    }
  }
  &__catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__remont {
    display: flex;
    align-items: center;
    margin-left: 67px;
    margin-right: 67px;
  }
  &__razdelitel {
    width: 2px;
    height: 28px;
  }
  &__razdelitel-1th {
    width: 2px;
    height: 28px;
    margin-left: 57px;
  }
  &__icon {
    margin-left: 10px;
  }
  &__navBar-mobile {
    display: none;
  }
  &__line {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border: 1px solid #e6e6e6;
  }
}

@media screen and (max-width: 1919px) {
  .header {
    padding: 0;
    &__container {
      max-width: 1080px;
    }
    &__razdelitel {
      visibility: hidden;
    }
    &__links {
      display: none;
    }
    &__razdelitel {
      display: none;
    }
    &__razdelitel-1th {
      margin-left: 27px;
    }
    &__remont {
      margin: 0 0 0 47px;
    }
    &__navBar {
      max-width: 1080px;
      margin: 0 auto;
      &-text {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
@media screen and (max-width:  1365px) {
 .header {
   &__container {
     max-width: 850px;
   }
   &__navBar {
     max-width: 850px;
   }
   &__phone {
    font-size: 18px;
    line-height: 22px;
    text-align: end;
   }
   &__worktime {
    font-size: 12px;
    line-height: 15px;
   }
   &__remont:last-of-type {
     display: none;
   }
 }
}
@media screen and (max-width: 1023px) {
  .header {
    &__container {
      max-width: 650px;
    }
    &__contacts {
      align-self: center;
    }
    &__navBar {
      max-width: 650px;
    }
    &__kat {
      display: none;
    }
    &__razdelitel-1th {
      margin-left: 23px;
    }
    &__remont {
      margin-left: 37px;
    }
    &__icon {
      display: none;
    }
  }
}
@media screen and (max-width: 767px) {
 .header{

   &__container {
    max-width: 327px;
    height: 22px;
    margin: 5px auto 14px;
   }
   &__worktime {
     display: none;
   }
   &__phone {
    font-size: 16px;
   }
   &__phone::before {
     content: none;
   }
   &__navBar {
    width: 327px;
    padding-bottom: 14px;
    &-container {
      display: none;
    }
   }
   &__line {
     display: none;
   }
   &__navBar-mobile {
     display: block;
     display: flex;
     justify-content: space-between;
   }
 }
}

